<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Kath Automation - O nas</title>
</head>
<body>
<main layout:fragment="content">
  <div class="aboutBodyTitle">
    <h2>O nas</h2>
    <p style="font-size: 18px">Zapraszamy do zapoznania się z ofertą naszej firmy w zakresie automatyki przemysłowej.</p>
  </div>

  <div class="offersList">
    <div class="oneBlock" th:each="offer: ${offers}">
      <table>
        <tr>
          <th>
            <img class="photo" src="../static/images/cabinet.jpg" th:src="|/images/${offer.photoPath}|" th:alt="${offer.name}" alt="Zdjęcie">
          </th>
          <th>
            <p class="offerName" th:text="|${offer.name}|">Nasza oferta</p>
            <p th:text="|${offer.description}|">Opis</p>
          </th>
        </tr>
      </table>
    </div>
  </div>
</main>
</body>
</html>