<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Email Status NG</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h1>Wystąłpił problem podczas wysyłania formularza kontaktowego</h1>
        <p>Spróbuj ponownie: </p>
        <a href="/contactUs">Formularz kontaktowy</a>
        <p></p>
        <p></p>
        <p>Pozdrawiamy</p>
        <p>Zespół Kath Automation</p>
    </div>
</main>
</body>
</html>