<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Email Status OK</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h1>E-Mail wysłany poprawnie</h1>
        <p>Wkrótce otrzymasz od nas potwierdzenie wysłania E-Mail'a</p>
        <p></p>
        <p>Bardzo dziękujemy za zainteresowanie</p>
        <p>Odezwiemy się do Państwa najszybciej jak to możliwe</p>
        <p></p>
        <p>Życzymy miłego dnia</p>
        <p>Zespół Kath Automation</p>
    </div>
</main>
</body>
</html>