<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Strona główna</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h1>Czym jest automatyka przemysłowa?</h1>
        <p>Automatyka przemysłowa to dziedzina zajmująca się układami sterowania dla procesów technologicznych.</p>
        <p></p>
        <p>System automatyki przemysłowej składa się z urządzeń pomiarowych (np. przetworniki temperatury, poziomu,
            ciśnienia, przepływomierze, dalmierze, czujniki optyczne, czujniki dwustanowe itd.)
            oraz z urządzeń wykonawczych (np. silniki, pompy, zasuwy, siłowniki). Wszystkie te urządzenia są zintegrowane
            i połączone zazwyczaj w rozdzielnicach elektrycznych – szafach sterowniczych.</p>
        <p>W zależności od skomplikowania układu, logika działania (sterowanie) wykonane jest bezpośrednio
            poprzez odpowiednie połączenia elektryczne urządzeń lub poprzez sterowniki swobodnie programowalne
            PLC (Programmable Logic Controller). Programista na podstawie wytycznych technologicznych
            (algorytmów działania) wykonuje oprogramowanie, które w sposób rzeczywisty steruje urządzeniami wykonawczymi
            na podstawie sygnałów otrzymanych z urządzeń pomiarowych. </p>
        <p>W zależności od rodzaju procesu i jego skomplikowania systemy automatyki przemysłowej swoją wielkości
            i zaawansowaniem dostosowywane są do potrzeb finalnych układów którymi sterują.</p>
    </div>
</main>
</body>
</html>